.page-main__header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-main__title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  @media @tablet {
    font-size: 60px;
  }
}

.page-main__description {
  max-width: 260px;
  text-transform: uppercase;

  @media @tablet {
    max-width: 380px;
    font-size: 20px;
    line-height: 30px;
  }
}
